<%# locals: (form:, field:,new_object:) -%>
<%

  ##
  # Costruisco le opzioni per limitare tramite interfaccia (ricevuta da configurazione di Rails nested_attributes_for)
  # il numero di nested elements
  add_button_data = {action: "nested-form#add"}
  if (limit = form.object.class.nested_attributes_options[field].dig(:limit))
    add_button_data["nested-form-limit-value"] = \
      case limit
      when Symbol #TODO add tests
        form.object.class.send(limit)
      when Proc #TODO add tests
        limit.call
      else
        limit
      end
  end

%>

<%= content_tag :table, class: "table", data: {controller: 'nested-form'} do %>

  <thead>
  <tr>
    <% policy(new_object).editable_attributes.each do |field| %>
      <th>
        <%= new_object.class.human_attribute_name(field) %>
      </th>
    <% end %>
    <th class="text-end">
      <%= button_tag(icon("plus-lg"), type: "button", data: add_button_data, class: "btn btn-outline-success") %>
    </th>
  </tr>
  </thead>

  <template data-nested-form-target="template">
    <%= form.fields_for field, new_object, child_index: 'NEW_RECORD' do |form_for_sections| %>
      <%= render "nested_row_form", form: form_for_sections %>
    <% end %>
  </template>

  <tbody>

  <%= form.fields_for field do |form_for_sections| %>
    <%= render "nested_row_form", form: form_for_sections %>
  <% end %>

  <!-- Inserted elements will be injected before that target. -->
  <tr data-nested-form-target="target"></tr>

  </tbody>


<% end %>

<% if form.object.errors.key?(field) %>

  <div class="row">
    <div class="col-12">
      <div class="alert alert-danger">
        <%= form.object.errors[field].join(", ") %>
      </div>
    </div>
  </div>

<% end %>

